
header{
  background-color: #73D700;
  margin: -.5em;
}
  header > div{
    width: 100%;
    display: flex;
  }
  header > div img{
    width: 30%;
    max-width: 30%;
    height: 50%;
    max-height: 50%;
    margin: .5em 0 0 0;
  }

  header > div > a:first-child > img:first-child{
    width: 50%;
    max-width: 50%;
  }

nav{
  overflow: auto;
  white-space: nowrap;
  background-color: #73D700;
  margin:-.5em;
  padding: 1em;
}

  nav ul{
    display: flex;
    margin: 0 auto;
}

  nav ul li{
    margin: 0 auto;
    list-style: none;
    color: white;
    padding: 0 .7em;
  }
  nav ul li:nth-child(1){
    padding: 0;
  }

body{
  font-size: 1.25em;
  font-family: 'Roboto_Condensed', sans-serif;
}
  h1{
    text-align: center;
    font-size: 1.4em;
    margin: 0em;
    padding-top: .5em;
    font-weight: 800;
  }
  h2{
    font-size: 1em;
    margin: 0em;
    padding-bottom: .5em;
  }
  p{
    font-size: 0.8em;
  }

img{
  height: 8em;
  width: 6em;
  margin: 0 auto;
}

article{
  display:flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding: .5em;
  text-align: center;
  margin: .5em auto;
  width:auto;
  border-radius: 0.5em;
}
  article > a {
    background-color: #73D700;
    width: 6em;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: .5em;
    margin: auto;
    border-radius: .5em;
  }
  article > a:hover {
    background-color: #5CAC00;
    text-decoration: underline;
  }

@media screen and (min-width:53em){
  article{
    width: 50%;
  }
  
  body{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: .5em;
  }
}
