main > div{
  background-image: url("img/zombie-small.png");
  width: 100%;
  /*! background-color:#dc3e3e; */
  height: 150em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}