h2{
  margin-top: .5em;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%
 }

form input{
  width: 100%;
  height: 2.5em;
  border-radius: .5em;
  border: 1px solid lightgray;
}
form input:invalid{
  border: 1px solid #FF5700;
}
form input[type=button]{
  width: 30%;
  align-self: flex-end;
  margin: .5em 0;
  background-color: #ffad00;
  border-radius: .5em;
  border: none;
  color:white;
  font-weight: 400;
}
form input[type=button]:hover{
  background-color: ##ffc54c;
}
form input[type=checkbox]{
  float:left;
  width: initial;
}
form:invalid{
  background-color
}

form label{
  align-content: center;
  font-size: .8em;
  justify-content: flex-start; 
 
}
body > div{
  position: relative;
  text-align: center;
}
body> div> span{
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  padding: 1em;
  font-weight: 300;
  font-size: .8em;
  display:inline-block
}
body > div:before{
  content:" ";
  position: absolute;
  box-sizing: border-box;
  top:50%;
  left:1em;
  right: 1em;
  border-top: 1px solid #c8c8c8
}
#rememberMe{
 align-self:flex-start;
 flex-flow:  row;
}
#rememberMe + label{
 display:inline-flex;
 width: initial;
}

@media screen and (min-width:45em){
  form{
    max-width: 20em;
    
  }
  h2{
    margin-left: 0;
    margin-bottom: .5em;
    padding: 0;
  }
  body > div{
    max-width: 20em;
    margin: 0 auto;
  }
}